SECRET_KEY=
DEBUG=True
DATABASE_URL=postgres://dayo:password@localhost:5432/ysb_dev?conn_max_age=500
TIME_ZONE=America/Edmonton
REDIS_URL=rediscache://127.0.0.1:6379/1?client_class=django_redis.client.DefaultClient&password=pass123